# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Distribution
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Large data files (Optional, if you don't want to upload huge datasets)
*.pth