fastapi
uvicorn
# CPU-only PyTorch (Crucial for Render/HuggingFace Free Tier)
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
numpy
timm
pillow
opencv-python-headless
pydantic